<div class="float_Coin_Div">
  <div class="float_Coin_Button">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#coins">Coin Names</button>
  </div>
  <div id="coins" class="collapse float_Coin_Names">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item"><a href="https://www.bitcoin.com/" target="_blank">BTC - Bitcoin</a></li>
          <li class="list-group-item"><a href="https://nl.wikipedia.org/wiki/Ethereum" target="_blank">ETH - Ethereum</a></li>
          <li class="list-group-item"><a href="https://litecoin.com/" target="_blank">LTC - LiteCoin</a></li>
          <li class="list-group-item"><a href="http://dogecoin.com/" target="_blank">DOGE - DogeCoin</a></li>
          <li class="list-group-item"><a href="http://dentacoin.com" target="_blank">DCN - Dentacoin</a></li>
          <li class="list-group-item"><a href="https://neverdie.io" target="_blank">NDC - Neverdie Coin</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>  