<div class="float_Coin_Div" style="float:right">
  <div class="float_Coin_Button">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#coins">Coin Names</button>
  </div>
  <div id="coins" class="collapse float_Coin_Names col-md-3 col-sm-6 col-sx-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div style="font-size: 1.5em; padding-bottom: 7.5px">
          <button class="btn btn-info" data-toggle="collapse" data-target="#coins">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
        <ul id="coin_names" class="list-group">
          <a href="https://www.bitcoin.com/" target="_blank">
            <li class="list-group-item">
                <span style="float:left; font-weight: bold">BTC</span>
                &nbsp;&nbsp;
                <span style="float:right">Bitcoin</span>
            </li>
          </a>
          <a href="https://nl.wikipedia.org/wiki/Ethereum" target="_blank">
            <li class="list-group-item">
                <span style="float:left; font-weight: bold">ETH</span> 
                &nbsp;&nbsp;
                <span style="float:right">Ethereum</span>
            </li>
          </a>
          <a href="https://litecoin.com/" target="_blank">
            <li class="list-group-item">
                <span style="float:left; font-weight: bold">LTC</span> 
                &nbsp;&nbsp;
                <span style="float:right">Litecoin</span>
            </li>
          </a>
          <a href="http://dogecoin.com/" target="_blank">
            <li class="list-group-item">
                <span style="float:left; font-weight: bold">DOGE</span> 
                &nbsp;&nbsp;
                <span style="float:right">Dogecoin</span>
            </li>
          </a>
          <a href="http://dentacoin.com" target="_blank">
            <li class="list-group-item">
                <span style="float:left; font-weight: bold">DCN</span> 
                &nbsp;&nbsp;
                <span style="float:right">Dentacoin</span>
            </li>
          </a>
          <a href="https://neverdie.io" target="_blank">
            <li class="list-group-item">
                <span style="float:left; font-weight: bold">NDC</span>
                &nbsp;&nbsp;
                <span style="float:right">Neverdiecoin</span>
            </li>
          </a>
        </ul>
      </div>
    </div>
  </div>
</div>  