<row class="row">
  <div class="col-md-12">                

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title" style="font-size: 2em">Etherscan Wallet</h2>
      </div>
      <div class="panel-body">

        <row class="col-md-12" style="font-size: 1.2em">
          <h3><a href="https://etherscan.io/address/0xea4686c4bd1023d0c888079600c594efd524b7aa" target="_blank">Ethereum</a></h3>
          <row>
            <div class="col-md-4 col-xs-12">
              <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                ETH Balance
              </div>
              <div>
                ETH <%=ETH_WALLET%>
              </div>
            </div>
            <div class="col-md-8 col-xs-12">
              <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                ETH in Euro
              </div>     
              <div>
                EUR <%=(ETH_WALLET*ETH_EUR).toFixed(2)%>
              </div>     
            </div>            
          </row>
        </row>
      </div>
    </div>
  </div>
</row>

   