<nav class="navbar navbar-primary navbar-inverse" data-spy="affix" data-offset-top="345" style="border-radius: 0; margin-bottom: 25px">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-bitcoin"></span> Crypto Currency</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li class="active">
          <a href="#Home"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <li><a href="#coin_prices"><span class="glyphicon glyphicon-bitcoin"></span> Coin Prices</a></li>  
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-list"></span> Ethereum <span class="caret"></span></a>
          <ul class="dropdown-menu">

            <li><a href="#Etherscan-wallet"><span class="glyphicon glyphicon-menu-right"></span> Etherscan Wallet</a></li>  
            <li><a href="#Nanopool-info"><span class="glyphicon glyphicon-menu-right"></span> Nanopool</a></li>  
            <li><a href="#Poloniex-chart"><span class="glyphicon glyphicon-menu-right"></span> Poloniex Chart</a></li>  
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-list"></span> Dentacoin <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#Dentacoin-Cryptopia-BTC"><span class="glyphicon glyphicon-menu-right"></span> Cryptopia - BTC</a></li>
            <li><a href="#Dentacoin-Cryptopia-LTC"><span class="glyphicon glyphicon-menu-right"></span> Cryptopia - LTC</a></li>
            <li><a href="#Dentacoin-Cryptopia-DOGE"><span class="glyphicon glyphicon-menu-right"></span> Cryptopia - DOGE</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#Dentacoin-CoinMarketCap-BTC"><span class="glyphicon glyphicon-menu-right"></span> Coin Market Cap - BTC</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-list"></span> Neverdie <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#Neverdie-CoinMarketCap-BTC"><span class="glyphicon glyphicon-menu-right"></span> Coin Market Cap - BTC</a></li>
          </ul>
        </li>
      </ul>      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<script>

$(document).ready(function() {
  // Add slideDown animation to Bootstrap dropdown when expanding.
  $('.dropdown').on('show.bs.dropdown', function() {
    $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
  });
   // Add slideUp animation to Bootstrap dropdown when collapsing.
  $('.dropdown').on('hide.bs.dropdown', function() {
    $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
  });

  $(function () {
    $('.navbar-collapse ul li a:not(.dropdown-toggle)').bind('click touchstart', function () {
            $('.navbar-toggle:visible').click();
    });
  });

  // Select all links with hashes
  $('a[href*="#"]')
    // Remove links that don't actually link to anything
    .not('[href="#"]')
    .not('[href="#0"]')
    .click(function(event) {
      // On-page links
      if (
        location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
        && 
        location.hostname == this.hostname
      ) {
        // Figure out element to scroll to
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        // Does a scroll target exist?
        if (target.length) {
          // Only prevent default if animation is actually gonna happen
          event.preventDefault();
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 1000, function() {
            // Callback after animation
            // Must change focus!
            var $target = $(target);
            $target.focus();
            if ($target.is(":focus")) { // Checking if the target was focused
              return false;
            } else {
              $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
              $target.focus(); // Set focus again
            };
          });
        }
      }
    });

    $(".nav li").click(function(){
        $(".nav li").removeClass("active");      
        $(this).addClass('active');
        $(this).toggleClass('clicked');
    });

});
</script>