.jumbotron {
  background: #532F8C;
  color: white;
  padding-top: 130px;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

.custom_container{
  margin-left: 25px;
  margin-right: 25px;
}

.hide{
  display: none;
}


@media only screen and (max-width: 768px) {
    .hide-mobile{
      display: none;
    }

    .show-mobile{
      display: inline !important;
    }
}

.show-mobile{
  display: none;
}


.float_Coin_Button{
  position: relative;

}

.float_Coin_Names{
  position:absolute;
  z-index: 100;
  right: 50px;
}

a.anchor {
    display: block;
    position: relative;
    top: -40px;
    visibility: hidden;
}

ul#coin_names{
  width:100%;
}

ul#coin_names li{
  text-align: center;
}

ul#coin_names a{
  text-decoration: none;
}

ul#coin_names li:hover{
  background-color: lightgrey;
}