<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<!-- Const -->
  <a class="anchor" name="Home"></a>
  <%
    var CC_BTC_EUR = Number((CC_BTC["EUR"]).toFixed(4));
    var CC_ETH_EUR = Number((CC_ETH["EUR"]/CC_ETH["ETH"]).toFixed(4));
    var CC_LTC_EUR = Number((CC_LTC["EUR"]/CC_LTC["LTC"]).toFixed(4));
    var CC_DOGE_EUR = Number((CC_DOGE["EUR"]/CC_DOGE["DOGE"]).toFixed(6));
    var C_DCN_BTC_LastPrice = Number((C_DCN_BTC.LastPrice).toFixed(8));
    var C_DCN_LTC_LastPrice = Number((C_DCN_LTC.LastPrice).toFixed(8));
    var C_DCN_DOGE_LastPrice = Number((C_DCN_DOGE.LastPrice).toFixed(8));

    // Neverdie
    var CMC_NDC_BTC_LastPrice = Number(CMC_NDC_BTC.price_btc).toFixed(8);
    var CMC_NDC_BTC_USD = Number(CMC_NDC_BTC.price_usd).toFixed(4);

    // Dentacoin
    var CMC_DCN_BTC_LastPrice = Number(CMC_DCN_BTC.price_btc).toFixed(8);
    var CMC_DCN_BTC_USD = Number(CMC_DCN_BTC.price_usd).toFixed(4);

    // Verge
    var CMC_XVG_BTC_LastPrice = Number(CMC_XVG_BTC.price_btc).toFixed(8);
    var CMC_XVG_BTC_USD = Number(CMC_XVG_BTC.price_usd).toFixed(4);

    // Hacker Gold
    var CMC_HKG_BTC_LastPrice = Number(CMC_HKG_BTC.price_btc).toFixed(8);
    var CMC_HKG_BTC_USD = Number(CMC_HKG_BTC.price_usd).toFixed(4);
  %>  

    <div class="jumbotron text-center" style="padding-top:50px; padding-bottom: 35px;">
      <div class="custom_container">
        <div style="font-size: 8em">
          <span class="glyphicon glyphicon-btc"></span>
        </div>
        <h1>Crypto Currency</h1>
      </div>
    </div>

  <!-- Navigation -->    
  <% include ../partials/nav.ejs %> 

  <div class="custom_container">  
    <!-- Coin Names -->
    <% include coins/coin_names.ejs %>

    <!-- Coin Prices -->
    <a class="anchor" name="coin_prices"></a>        
    <% include coins/coin_prices.ejs %>

    <!-- Etherscan Wallet -->
    <a class="anchor" name="Ethereum"></a>        
    <% include coins/ethereum.ejs %>

    <!-- Chart 
    <div id="curve_chart" style="width: 900px; height: 500px"></div> -->    

    <!-- Dentacoin -->
    <a class="anchor" name="Dentacoin"></a>
    <% include coins/dentacoin.ejs %>

    <!-- Neverdie -->
    <a class="anchor" name="Neverdie"></a>
    <% include coins/neverdiecoin.ejs %>

    <!-- Verge -->
    <a class="anchor" name="Verge"></a>
    <% include coins/verge.ejs %>

    <!-- Hacker Gold -->
    <a class="anchor" name="Verge"></a>
    <% include coins/hackergold.ejs %>

    <div class="alert alert-info text-center" role="alert">
      <h2> &copy; Cedric Willems</h2>
    </div>

<script>

</script>

  </body>
</html>
