<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<%
  var BTC_EUR = Number((BTC["EUR"]).toFixed(4));
  var ETH_EUR = Number((ETH["EUR"]/ETH["ETH"]).toFixed(4));
  var LTC_EUR = Number((LTC["EUR"]/LTC["LTC"]).toFixed(4));
  var DOGE_EUR = Number((DOGE["EUR"]/DOGE["DOGE"]).toFixed(6));
  var DCN_BTC_LastPrice = Number((DCN_BTC.LastPrice).toFixed(8));
  var DCN_LTC_LastPrice = Number((DCN_LTC.LastPrice).toFixed(8));
  var DCN_DOGE_LastPrice = Number((DCN_DOGE.LastPrice));

  var NDC_BTC_LastPrice = Number(NDC_BTC.price_btc).toFixed(8);
%>

<div class="jumbotron text-center">
  <div class="container">
    <div style="font-size: 8em">
      <span class="glyphicon glyphicon-btc"></span>
    </div>
    <h1>Crypto Currency</h1>
  </div>
</div>
<div class="custom_container">  
  <div class="alert alert-info text-center" role="alert">
      
      <div class="row">
        <div class="font- col-md-12">
          <h2>  
              <a href="https://www.cryptocompare.com/coins/btc/overview/EUR" target="_blank">BTC: € <%=BTC_EUR%></a>
          </h2>
        </div>
      </div>

      <div class="row">
        <div>
          <div class="col-md-4">
            <h3>  
              <a href="https://www.cryptocompare.com/coins/eth/overview/EUR" target="_blank">ETH: € <%=ETH_EUR%></a>
            </h3>
          </div>
        </div>

        <div>
          <div class="col-md-4">          
            <h3>
              <a href="https://www.cryptocompare.com/coins/ltc/overview/EUR" target="_blank">LTC: € <%=LTC_EUR%></a>
            </h3>  
          </div>
        </div>
    <a name="Etherscan-wallet"></a>

        <div>
          <div class="col-md-4">
            <h3>
              <a href="https://www.cryptocompare.com/coins/doge/overview/EUR" target="_blank">DOGE: € <%=DOGE_EUR%></a>
            </h3>   
          </div>
        </div>
      </div>
    </div>

    <!-- Etherscan Wallet -->
    <% include coins/etherscan_wallet.ejs %>

    <!-- Dentacoin -->
    <% include coins/dentacoin.ejs %>

    <!-- Neverdie -->
    <% include coins/neverdie.ejs %>

  </div>

   <div class="alert alert-info text-center" role="alert">
    <h2> Cedric Willems</h2>
  </div>
</div>
</body>
</html>
